body {
    background-color: #7620c7;
}

header {
    text-align: center;
}

.button {
    border: 2px solid #34495e;
    background-color: #6844df;
    color: whitesmoke;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
}

:root {
    --tx: 175;
    --dx: 175;
}

@keyframes letterfall {
    2% {transform:
        translateY(20%)
        translateX(calc((var(--tx) + var(--dx)*.02)*1px))
    }
    4% {transform:
        translateY(40%)
        translateX(calc((var(--tx) + var(--dx)*.04)*1px))
    }
    6% {transform:
        translateY(60%)
        translateX(calc((var(--tx) + var(--dx)*.06)*1px))
    }
    8% {transform:
        translateY(80%)
        translateX(calc((var(--tx) + var(--dx)*.08)*1px))
    }
    10% {transform:
        translateY(100%)
        translateX(calc((var(--tx) + var(--dx)*.1)*1px))
    }
    12% {transform:
        translateY(120%)
        translateX(calc((var(--tx) + var(--dx)*.12)*1px))
    }
    14% {transform:
        translateY(140%)
        translateX(calc((var(--tx) + var(--dx)*.14)*1px))
    }
    16% {transform:
        translateY(160%)
        translateX(calc((var(--tx) + var(--dx)*.16)*1px))
    }
    18% {transform:
        translateY(180%)
        translateX(calc((var(--tx) + var(--dx)*.18)*1px))
    }
    20% {transform:
        translateY(200%)
        translateX(calc((var(--tx) + var(--dx)*.2)*1px))
    }
    22% {transform:
        translateY(220%)
        translateX(calc((var(--tx) + var(--dx)*.22)*1px))
    }
    24% {transform:
        translateY(240%)
        translateX(calc((var(--tx) + var(--dx)*.24)*1px))
    }
    26% {transform:
        translateY(260%)
        translateX(calc((var(--tx) + var(--dx)*.26)*1px))
    }
    28% {transform:
        translateY(280%)
        translateX(calc((var(--tx) + var(--dx)*.28)*1px))
    }
    30% {transform:
        translateY(300%)
        translateX(calc((var(--tx) + var(--dx)*.3)*1px))
    }
    32% {transform:
        translateY(320%)
        translateX(calc((var(--tx) + var(--dx)*.32)*1px))
    }
    34% {transform:
        translateY(340%)
        translateX(calc((var(--tx) + var(--dx)*.34)*1px))
    }
    36% {transform:
        translateY(360%)
        translateX(calc((var(--tx) + var(--dx)*.36)*1px))
    }
    38% {transform:
        translateY(380%)
        translateX(calc((var(--tx) + var(--dx)*.38)*1px))
    }
    40% {transform:
        translateY(400%)
        translateX(calc((var(--tx) + var(--dx)*.4)*1px))
    }
    42% {transform:
        translateY(420%)
        translateX(calc((var(--tx) + var(--dx)*.42)*1px))
    }
    44% {transform:
        translateY(440%)
        translateX(calc((var(--tx) + var(--dx)*.44)*1px))
    }
    46% {transform:
        translateY(460%)
        translateX(calc((var(--tx) + var(--dx)*.46)*1px))
    }
    48% {transform:
        translateY(480%)
        translateX(calc((var(--tx) + var(--dx)*.48)*1px))
    }
    50% {transform:
        translateY(500%)
        translateX(calc((var(--tx) + var(--dx)*.5)*1px))
    }
    52% {transform:
        translateY(520%)
        translateX(calc((var(--tx) + var(--dx)*.52)*1px))
    }
    54% {transform:
        translateY(540%)
        translateX(calc((var(--tx) + var(--dx)*.54)*1px))
    }
    56% {transform:
        translateY(560%)
        translateX(calc((var(--tx) + var(--dx)*.56)*1px))
    }
    58% {transform:
        translateY(580%)
        translateX(calc((var(--tx) + var(--dx)*.58)*1px))
    }
    60% {transform:
        translateY(600%)
        translateX(calc((var(--tx) + var(--dx)*.6)*1px))
    }
    62% {transform:
        translateY(620%)
        translateX(calc((var(--tx) + var(--dx)*.62)*1px))
    }
    64% {transform:
        translateY(640%)
        translateX(calc((var(--tx) + var(--dx)*.64)*1px))
    }
    66% {transform:
        translateY(660%)
        translateX(calc((var(--tx) + var(--dx)*.66)*1px))
    }
    68% {transform:
        translateY(680%)
        translateX(calc((var(--tx) + var(--dx)*.68)*1px))
    }
    70% {transform:
        translateY(700%)
        translateX(calc((var(--tx) + var(--dx)*.7)*1px))
    }
    72% {transform:
        translateY(720%)
        translateX(calc((var(--tx) + var(--dx)*.72)*1px))
    }
    74% {transform:
        translateY(740%)
        translateX(calc((var(--tx) + var(--dx)*.74)*1px))
    }
    76% {transform:
        translateY(760%)
        translateX(calc((var(--tx) + var(--dx)*.76)*1px))
    }
    78% {transform:
        translateY(770%)
        translateX(calc((var(--tx) + var(--dx)*.78)*1px))
    }
    100% {transform: 
        translateY(770%)
        translateX(calc((var(--tx) + var(--dx)*.8)*1px))
    }
}

.letterbomb {
    animation-name: letterfall;
    animation-duration: 6s;
    animation-play-state: running;
}

#best-times {
    position: absolute;
    top: 21%;
    left: 70%;
    color: #dbdbdb;
    font-size: 20px;
}

#canvas {
    position: absolute;
    background-color: black;
    height: 350px;
    width: 350px;
    top: 21%;
    left: 25%;
}

#transition-page {
    position: absolute;
    z-index: 1;
    background-color: #7620c7;
    padding: 70px 0;
    height: 500px;
    width: 100%;
}

#intro-slot {
    color: #90a2b4;
    font-size: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 70px 0;
    justify-content: center;
    align-content: center;
}

#letters-area {
    position: absolute;
    text-align: center;
    width: 250px;
    top: 35%;
    left: 70%;
    font-size: 40px;
}

.blackletterslot {
    color: black;
}

.whiteletterslot {
    color: white;
}

#left-basket {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 40%;
    left: 11%;
    text-align: center;
}

#right-basket {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 40%;
    left: 54.5%;
    text-align: center;
    color: #90a2b4;
    font-size: 100px;
}

#pause {
    position: absolute;
    top: 75%;
    left: 70%;
}

#clock {
    position: absolute;
    top: 84%;
    left: 36.5%;
    font-size: 50px;
    color: whitesmoke
}

#s1 {
    position: absolute;
    top: 77%;
    left: 30%;
    height: 25px;
    width: 25px;
}

#s2 {
    position: absolute;
    top: 77%;
    left: 33.75%;
    height: 25px;
    width: 25px;
}

#s3 {
    position: absolute;
    top: 77%;
    left: 37.5%;
    height: 25px;
    width: 25px;
}

#s4 {
    position: absolute;
    top: 77%;
    left: 41.25%;
    height: 25px;
    width: 25px;
}

#s5 {
    position: absolute;
    top: 77%;
    left: 45%;
    height: 25px;
    width: 25px;
}