body {
    background-color: #7620c7;
}

header {
    text-align: center;
}

.button {
    border: 2px solid #34495e;
    background-color: #6844df;
    color: whitesmoke;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
}

@keyframes letterfall {
    2% {transform: translateY(20%)}
    4% {transform: translateY(40%)}
    6% {transform: translateY(60%)}
    8% {transform: translateY(80%)}
    10% {transform: translateY(100%)}
    12% {transform: translateY(120%)}
    14% {transform: translateY(140%)}
    16% {transform: translateY(160%)}
    18% {transform: translateY(180%)}
    20% {transform: translateY(200%)}
    22% {transform: translateY(220%)}
    24% {transform: translateY(240%)}
    26% {transform: translateY(260%)}
    28% {transform: translateY(280%)}
    30% {transform: translateY(300%)}
    32% {transform: translateY(320%)}
    34% {transform: translateY(340%)}
    36% {transform: translateY(360%)}
    38% {transform: translateY(380%)}
    40% {transform: translateY(400%)}
    42% {transform: translateY(420%)}
    44% {transform: translateY(440%)}
    46% {transform: translateY(460%)}
    48% {transform: translateY(480%)}
    50% {transform: translateY(500%)}
    52% {transform: translateY(520%)}
    54% {transform: translateY(540%)}
    56% {transform: translateY(560%)}
    58% {transform: translateY(580%)}
    60% {transform: translateY(600%)}
    62% {transform: translateY(620%)}
    64% {transform: translateY(640%)}
    66% {transform: translateY(660%)}
    68% {transform: translateY(680%)}
    70% {transform: translateY(700%)}
    72% {transform: translateY(720%)}
    74% {transform: translateY(740%)}
    76% {transform: translateY(760%)}
    78% {transform: translateY(780%)}
    80% {transform: translateY(800%)}
    82% {transform: translateY(820%)}
    84% {transform: translateY(840%)}
    86% {transform: translateY(860%)}
    88% {transform: translateY(880%)}
    90% {transform: translateY(900%)}
    92% {transform: translateY(920%)}
    94% {transform: translateY(940%)}
    96% {transform: translateY(960%)}
    98% {transform: translateY(980%)}
    100% {transform: translateY(1000%)}
}

.letterbomb {
    color: whitesmoke;
    font-size: 25px;
    animation-name: letterfall;
    animation-duration: 5s;
}

#best-times {
    position: absolute;
    top: 21%;
    left: 70%;
    color: #dbdbdb;
    font-size: 20px;
}

#canvas {
    position: absolute;
    background-color: black;
    height: 350px;
    width: 350px;
    top: 21%;
    left: 25%;
}

#transition-page {
    position: absolute;
    z-index: 1;
    background-color: #7620c7;
    padding: 70px 0;
    height: 500px;
    width: 100%;
}

#intro-slot {
    color: #90a2b4;
    font-size: 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 70px 0;
    justify-content: center;
    align-content: center;
}

#letters-area {
    position: absolute;
    text-align: center;
    width: 250px;
    top: 35%;
    left: 70%;
    font-size: 40px;
}

#left-basket {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 40%;
    left: 11%;
    text-align: center;
}

#right-basket {
    position: absolute;
    height: 150px;
    width: 150px;
    top: 40%;
    left: 54.5%;
    text-align: center;
    color: #90a2b4;
    font-size: 100px;
}

#pause {
    position: absolute;
    top: 75%;
    left: 70%;
}

#clock {
    position: absolute;
    top: 84%;
    left: 36.5%;
    font-size: 50px;
    color: whitesmoke
}

#s1 {
    position: absolute;
    top: 77%;
    left: 30%;
    height: 25px;
    width: 25px;
}

#s2 {
    position: absolute;
    top: 77%;
    left: 33.75%;
    height: 25px;
    width: 25px;
}

#s3 {
    position: absolute;
    top: 77%;
    left: 37.5%;
    height: 25px;
    width: 25px;
}

#s4 {
    position: absolute;
    top: 77%;
    left: 41.25%;
    height: 25px;
    width: 25px;
}

#s5 {
    position: absolute;
    top: 77%;
    left: 45%;
    height: 25px;
    width: 25px;
}